@model UserSignup.Models.User
<h1>@ViewBag.title</h1>
<p>Please fill out this form to create an account</p>

<form method="post">
    <div class="container">

        <label for="name">Name</label>
        <input type="text" placeholder="Enter Name" name="name" required />
        <br />

        <label for="email">Email</label>
        <input type="text" placeholder="Enter Email" name="email" required />
        <br />

        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" name="password" required />
        <br />

        <label for="confirm">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" name="confirm" required />
        <br />

        <button type="submit" value="Register">Register</button>
    </div>

    @if(ViewBag.error!= null)
    {
        <p><label>@ViewBag.error</label></p>
    }
</form>
