@{
    Layout = null;
}
<h1>Add Cheese</h1>
<form method="post">
    <h4>Cheese Type</h4>
    <input name="name" type="text"/>
    <h4> Cheese Description</h4>
    <input name="description" type ="text"/>
    <input type="submit" value="Add cheese"/>
</form>