
@{
    Layout = null;
}
<h1>Remove Cheese</h1>
    <form method="post">
       
        <select name="cheese">
            @foreach (var cheese in ViewBag.cheeses as Dictionary<string,string>)
            {
                <option value="@cheese.Key">@cheese.Key</option>
            }
        </select>
        <p>
            <input type="submit" value="Remove Cheese" />
        </p>
    </form>
